<div class="body__overlay"></div>

<!-- Start Offset Wrapper -->
<app-offset-panel></app-offset-panel>
<!-- End Offset Wrapper -->

<!-- Start Slider Area -->
<div class="slider__container slider--one">
  <div class="slider__activation__wrap owl-carousel owl-theme">
    <!-- Start Single Slide -->
    <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/bgi1.jpg) no-repeat scroll center center / cover ;">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
            <div class="slider__inner">
              <h1>New Product <span class="text--theme">Collection</span></h1>
              <div class="slider__btn">
                <a class="htc__btn" href="cart.html">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Slide -->
    <!-- Start Single Slide -->
    <div class="slide slider__full--screen" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/bgi2.jpg) no-repeat scroll center center / cover ;">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div class="slider__inner">
              <h1>New Product <span class="text--theme">Collection</span></h1>
              <div class="slider__btn">
                <a class="htc__btn" href="cart.html">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Slide -->
  </div>
</div>


<div class="only-banner ptb--100 bg__white">
  <div class="container">
    <div class="only-banner-img">
      <a href="shop-sidebar.html"><img src="assets/images/new-product/3.jpg" alt="new product"></a>
    </div>
  </div>
</div>


<section class="htc__blog__area bg__white pb--130">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title text-center">
          <h2 class="title__line" style="margin: 10%">Our Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog__wrap clearfix xmt-30">
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="blog foo">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a routerLink="/lesova/shop">
                  <img src="assets/images/tshirts/casual.jpg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <div class="blog__hover__info">
                <!--<div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>-->
              </div>
            </div>
            <div><h1 style="text-align: center; padding-top: 5%">Casual</h1></div>
          </div>
        </div>
        <!-- End Single Blog -->
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="blog foo">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a routerLink="/lesova/shop">
                  <img src="assets/images/tshirts/sport.jpg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <div class="blog__hover__info">
                <!--<div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
          <div><h1 style="text-align: center; padding-top: 5%">Sport</h1></div>
        </div>
        <!-- End Single Blog -->
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
          <div class="blog foo" style="height: 5%">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a routerLink="/lesova/shop">
                  <img src="assets/images/tshirts/prof.jpeg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <div class="blog__hover__info">
                <!--<div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
          <div><h1 style="text-align: center; padding-top: 5%">Profesional</h1></div>
        </div>
        <!-- End Single Blog -->
      </div>
    </div>
  </div>
</section>

<app-t-shirtslk-block></app-t-shirtslk-block>


<section class="htc__new__product" style="background-color: whitesmoke; margin-top: 3em;">
  <div class="container">
    <div class="row" style="height: 2em;background-color: whitesmoke; "></div>
    <div class="row">
      <div class="col-md-6">
        <div style="height: 200px; text-align: center;">
          <h1 style="text-align: center; margin-top: 130px;">Get Them All with your <span style="color : crimson">Prestige</span></h1>
          <p style="margin-top: 50px; margin-bottom: 20px;">Get your company branding everywhere you need, show your prestige logo with every customization !</p>
          <button class="btn btn-primary btn-lg" style="margin-top: 10px;">Request Now !</button>
        </div>
      </div>
      <div class="col-md-6">
        <slideshow [height]="'200px'"
                   [minHeight]="'525px'"
                   [autoPlay]="true"
                   [showArrows]="false"
                   [imageUrls]="imageSources"
                   [lazyLoad]="imageSources?.length > 1"
                   [autoPlayWaitForLazyLoad]="true">
        </slideshow>
      </div>
    </div>
  </div>
  <div class="row" style="height: 2em;background-color: whitesmoke; "></div>
</section>


<div class="only-banner ptb--100 bg__white">
  <div class="container">

      <h2 style="text-align: center; margin-bottom: 5%">Know what you need? Checkout the Collar Types</h2>

    <div class="only-banner-img">
      <a href="shop-sidebar.html"><img src="assets/images/tshirts/collar.PNG" alt="new product"></a>
    </div>

    <button class="btn btn-primary btn-lg" style="margin-top: 10px;">Request Info !</button>
  </div>
</div>



<!-- Start Slider Area -->

<section class="htc__new__product bg__white pt--130">
  <h1 style="text-align: center; margin-bottom: 5%">Fabric Information</h1>
  <div class="container">
    <div class="row">
      <div class="new__product__wrap clearfix">
        <!-- Start New Product -->
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="new__product foo">
            <div class="new__product__thumb">
              <a href="product-details.html">
                <img src="assets/images/tshirts/color.PNG" alt="new product">
              </a>
            </div>
            <!--<div class="new__product__details">
              <h2><a href="product-details.html">New Product Collection</a></h2>
              <div class="new__product__btn">
                <a class="htc__btn shop__now__btn" href="cart.html">shop now</a>
              </div>
            </div>-->
          </div>
        </div>
        <!-- End New Product -->
        <!-- Start New Product -->
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
          <div class="new__product text__align--left foo">
            <div class="new__product__thumb">
              <a href="product-details.html">
                <img src="assets/images/tshirts/fabric.PNG" alt="new product">
              </a>
            </div>
            <!--<div class="new__product__details">
              <h2><a href="product-details.html">Basket Collection</a></h2>
              <div class="new__product__btn">
                <a class="htc__btn shop__now__btn" href="cart.html">shop now</a>
              </div>
            </div>-->
          </div>
        </div>
        <!-- End New Product -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="new__product__wrap clearfix">
        <!-- Start New Product -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="new__product foo">
            <div class="new__product__thumb">
              <p>
                Note:</p>
              <p>
                -Actual product colours may vary from colours shown on your monitor as different monitors could contain different colour settings.</p>
              <p>
                -Actual artwork proportions and layout may vary fromcomputer aided prototype depending on different tshirt sizes & production related considerations.</p>
              <p>
                -Availability of a particular "standard fabric colour" is subject to order placement timeline.</p>
              <p>
                -Different batches of fabric/accessories representing the "same" standard fabric colour could contain colour variationswithin industry accepted tolerance levels.

              </p>
            </div>
            <!--<div class="new__product__details">
              <h2><a href="product-details.html">New Product Collection</a></h2>
              <div class="new__product__btn">
                <a class="htc__btn shop__now__btn" href="cart.html">shop now</a>
              </div>
            </div>-->
          </div>
        </div>
        <!-- End New Product -->
        <!-- Start New Product -->

        <!-- End New Product -->
      </div>
    </div>
  </div>
</section>


<section class="htc__new__product bg__white pt--130">
  <div class="container">
    <div class="row">
      <div class="new__product__wrap clearfix">
        <!-- Start New Product -->
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="new__product foo">
            <div class="new__product__thumb">
              <a href="product-details.html">
                <img src="assets/images/tshirts/sizes.jpg" alt="new product">
              </a>
            </div>
            <!--<div class="new__product__details">
              <h2><a href="product-details.html">New Product Collection</a></h2>
              <div class="new__product__btn">
                <a class="htc__btn shop__now__btn" href="cart.html">shop now</a>
              </div>
            </div>-->
          </div>
        </div>
        <!-- End New Product -->
        <!-- Start New Product -->
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
          <div class="new__product text__align--left foo">
            <div class="new__product__thumb">
              <a href="product-details.html">
                <img src="assets/images/tshirts/t-size.jpg" alt="new product">
              </a>
              <p>NOTES:</p>

              <p>01. Blank t-shirt measurement tolarance (width):0.5 in</p>
              <p>02. T-shirts with contrast panel measurement tolarance (width):1 in</p>
              <p>03. Blank t-shirt measurement tolarance (length):upto 1.5 in due to possible fabric shinkage.</p>
              <p>04. Maximum number of sizes possible unless specified:3</p>
              <p>(Additional cost LKR 5000.00 for each additional size)</p>
              <p>05. If possible try to include 5 additional t-shirts from several sizes for every 100 nos.</p>
              <p>06. How to pick;</p>
              <p>Reasons selecting "L".</p>
              <p> T-shirt can be worn even if it is little bulky.</p>
                <p>T-shirt cannot be worn if it is too light.</p>
            </div>
            <!--<div class="new__product__details">
              <h2><a href="product-details.html">Basket Collection</a></h2>
              <div class="new__product__btn">
                <a class="htc__btn shop__now__btn" href="cart.html">shop now</a>
              </div>
            </div>-->
          </div>
        </div>
        <!-- End New Product -->
      </div>
    </div>
  </div>
</section>

<!-- Start Our Product Area -->
<section class="htc__product__area ptb--130 bg__white">
  <div class="container">
    <div class="htc__product__container">
      <!-- Start Product MEnu -->
      <!--<div class="row">
        <div class="col-md-12">
          <div class="product__menu">
            <button data-filter="*"  class="is-checked">All</button>
            <button data-filter=".cat&#45;&#45;1">Furnitures</button>
            <button data-filter=".cat&#45;&#45;2">Bags</button>
            <button data-filter=".cat&#45;&#45;3">Decoration</button>
            <button data-filter=".cat&#45;&#45;4">Accessories</button>
          </div>
        </div>
      </div>-->
      <!-- End Product MEnu -->
      <div class="row">
        <div class="product__list another-product-style">
          <!-- Start Single Product -->
          <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
            <a routerLink="/lesova/sublimationDesign">
            <div class="product foo">
              <div class="product__inner">
                <!--<div class="pro__thumb">
                  <a href="#">
                    <img src="assets/images/tshirts/tshirtpattern.jpg" style="width:300px ; height: 300px;" alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>-->
                <div class="flip">
                  <div class="card">
                    <div class="face front">
                      <div class="inner">
                        <img src="assets/images/tshirts/tshirt1.png" alt="product images">
                      </div>
                    </div>
                    <div class="face back">
                      <div class="inner text-center">
                        <img src="assets/images/tshirts/tshirt1back2.png" alt="product images">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            </a>
            <div class="product__details">
              <h2 style="color: black"><a routerLink="/lesova/sublimationDesign">Sublimation Design</a></h2>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
            <a routerLink="/lesova/sublimationPlacement">
            <div class="product foo">
              <div class="product__inner">
                <!--<div class="pro__thumb">
                  <a href="#">
                    <img src="assets/images/tshirts/tshirtpattern.jpg" style="width:300px ; height: 300px;" alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>-->
                <div class="flip">
                  <div class="card">
                    <div class="face front">
                      <div class="inner">
                        <img src="assets/images/tshirts/tshirt1.png" alt="product images">
                      </div>
                    </div>
                    <div class="face back">
                      <div class="inner text-center">
                        <img src="assets/images/tshirts/tshirt1back2.png" alt="product images">
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            </a>
            <div class="product__details">
              <h2 style="color: black"><a routerLink="/lesova/sublimationPlacement">Sublimation Placement</a></h2>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
            <a routerLink="/lesova/tshirtPattern">
            <div class="product foo">
              <div class="product__inner">
                <!--<div class="pro__thumb">
                  <a href="#">
                    <img src="assets/images/tshirts/tshirtpattern.jpg" style="width:300px ; height: 300px;" alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>-->
                <div class="flip">
                  <div class="card">
                    <div class="face front">
                      <div class="inner">
                        <img src="assets/images/tshirts/tshirt1.png" alt="product images">
                      </div>
                    </div>
                    <div class="face back">
                      <div class="inner text-center">
                        <img src="assets/images/tshirts/tshirt1back2.png" alt="product images">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </a>
            <div class="product__details">
              <h2 style="color: black"><a routerLink="/lesova/tshirtPattern">T-shirt Pattern</a></h2>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Start Single Product -->
          <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
            <a routerLink="/lesova/designProtoTypes">
            <div class="product foo">
              <div class="product__inner">
                <!--<div class="pro__thumb">
                  <a href="#">
                    <img src="assets/images/tshirts/tshirtpattern.jpg" style="width:300px ; height: 300px;" alt="product images">
                  </a>
                </div>
                <div class="product__hover__info">
                  <ul class="product__action">
                    <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                    <li><a title="Add TO Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                    <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                  </ul>
                </div>-->
                <div class="flip">
                  <div class="card">
                    <div class="face front">
                      <div class="inner">
                        <img src="assets/images/tshirts/tshirt1.png" alt="product images">
                      </div>
                    </div>
                    <div class="face back">
                      <div class="inner text-center">
                        <img src="assets/images/tshirts/tshirt1back2.png" alt="product images">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </a>
            <div class="product__details">
              <h2 style="color: black"><a routerLink="/lesova/designProtoTypes">Design Prototypes</a></h2>
            </div>
          </div>
          <!-- End Single Product -->


        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Our Product Area -->
<!-- Start Blog Area -->
<section class="htc__blog__area bg__white pb--130">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title text-center">
          <h2 class="title__line">Offers</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog__wrap clearfix mt--60 xmt-30">
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="blog foo">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a href="blog-details.html">
                  <img src="assets/images/tshirts/Discount options-01.jpg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <!--<div class="blog__hover__info">
                <div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="blog foo">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a href="blog-details.html">
                  <img src="assets/images/tshirts/Discount options-02.jpg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <!--<div class="blog__hover__info">
                <div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>
              </div>-->
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
        <!-- Start Single Blog -->
        <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
          <div class="blog foo">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a href="blog-details.html">
                  <img src="assets/images/tshirts/Discount options-03.jpg" alt="blog images">
                </a>
                <!--<div class="blog__post__time">
                  <div class="post__time&#45;&#45;inner">
                    <span class="date">14</span>
                    <span class="month">sep</span>
                  </div>
                </div>-->
              </div>
              <div class="blog__hover__info">
                <!--<div class="blog__hover__action">
                  <p class="blog__des"><a href="blog-details.html">Lorem ipsum dolor sit consectetu.</a></p>
                  <ul class="bl__meta">
                    <li>By :<a href="#">Admin</a></li>
                    <li>Product</li>
                  </ul>
                  <div class="blog__btn">
                    <a class="read__more__btn" href="blog-details.html">read more</a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
    </div>
  </div>
</section>
<!-- End Blog Area -->
