<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">portfolio card 3 column</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="index.html">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">portfolio card 3 column</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<div class="portfolio-grid-area bg__white pt--130 pb--100">
  <div class="container">
    <!--<div class="portfolio-menu-active gutter-btn mb&#45;&#45;50 text-center">
      <button class="active" data-filter="*">All works</button>
      <button data-filter=".cat2">print</button>
      <button data-filter=".cat3">Webdesign</button>
      <button data-filter=".cat5">Photography</button>
    </div>-->
    <div class="portfolio-style">
      <div class="row grid">
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/1.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" href="assets/images/designImages/1.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/2.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" href="assets/images/designImages/2.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/3.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" href="assets/images/designImages/3.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/4.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" href="assets/images/designImages/4.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/5.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" src="assets/images/designImages/5.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 grid-item">
          <div class="single-portfolio-card mb--30">
            <div class="portfolio-img">
              <a href="single-portfolio.html">
                <img src="assets/images/designImages/6.PNG" alt="" />
              </a>
              <div class="portfolio-icon">
                <a class="img-poppu" src="assets/images/designImages/6.PNG">
                  <i class="zmdi zmdi-instagram"></i>
                </a>
              </div>
            </div>
            <div class="portfolio-title portfolio-card-title text-center">
              <h3><a href="single-portfolio.html">TITLE GOES HERE</a></h3>
              <span>Design</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
