<div class="container">
  <div class="row">
    <!-- Start Left Feature -->
    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
      <!-- Start Slider Area -->
      <div class="slider__container slider--one">
        <div class="slider__activation__wrap owl-carousel owl-theme">
          <!-- Start Single Slide -->
          <!--<div class="slide slider__full&#45;&#45;screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url(../../assets/img/mainscreen/mainscreen1.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                &lt;!&ndash;<div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">&ndash;&gt;
                  <div class="slider__inner">
                    <h1>Lesova <span class="text&#45;&#45;theme">Collection</span></h1>
                    <div class="slider__btn">
                      <a class="htc__btn" href="cart.html">Grab now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url(../../assets/img/mainscreen/Untitled-4.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                  <div class="slider__inner">
                    <h1><span class="text--theme" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"><span style="color: white;">Design Your </span> Group T-shirt</span></h1>
                    <div class="slider__btn">
<!--                      <a class="htc__btn" routerLink="/lesova/home"></a>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Slide -->
          <!-- Start Single Slide -->
          <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/bgi2.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <div class="slider__inner">
                    <h1 style="color: crimson; " ><span class="text--theme" style="color: darkred;">Your Logo </span> & Wordings</h1>
                    <div class="slider__btn">
<!--                      <a class="htc__btn" routerLink="/lesova/home"></a>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Slide -->
        </div>
      </div>
      <!-- Start Slider Area -->
    </div>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
      <div class="categories-menu mrg-xs">
        <div class="category-heading">
          <h3> Browse Categories</h3>
        </div>
        <div class="category-menu-list">
          <ul>

            <li><a href="#"><img alt="" src="assets/images/icons/thum3.png"> Custom Clothing <i class="zmdi zmdi-chevron-right"></i></a>

              <div class="category-menu-dropdown">
                <div class="category-menu-dropdown-left">
                  <div class="category-part-1 category-common ">
                    <h4 class="categories-subtitle"> Clothing</h4>
                    <ul>
                      <li><a href="#"> Shirts</a></li>
                      <li><a href="#"> T-Shirts</a></li>
                      <li><a href="#"> Jackets</a></li>
                      <li><a href="#"> Hoodies</a></li>
                      <li><a href="#"> Bottoms</a></li>
                      <li><a href="#"> Shorts</a></li>
                    </ul>
                  </div>
                  <div class="category-part-2 category-common ">
                    <h4 class="categories-subtitle"> Wearables</h4>
                    <ul>
                      <li><a href="#"> Tie</a></li>
                      <li><a href="#"> Caps</a></li>
                      <li><a href="#"> Hats</a></li>
                      <li><a href="#"> Bags</a></li>
                    </ul>
                  </div>
                </div>
                <!--<div class="category-menu-dropdown-right">
                  <div class="menu-right-img">
                    <a href="#"><img src="assets/images/feature-img/2.png" alt=""></a>
                  </div>
                </div>-->
              </div>
            </li>
            <!-- /lesova/limitedPremium-->
            <li><a href="https://tshirts.lk/" target="_blank"><img alt="" src="assets/images/icons/thum4.png"> <span data-toggle="tooltip" title="Coming Soon!"> T-shirts.lk </span><!--<i class="zmdi zmdi-chevron-right"></i>--></a>

            </li>
            <li><a href="http://shirts.lk/" target="_blank"><img alt="" src="assets/images/icons/thum5.png"> <span data-toggle="tooltip" title="Coming Soon!"> Shirts.lk </span> <!--<i class="zmdi zmdi-chevron-right"></i>--></a>

            </li>

            <li><a href="http://caps.lk/" target="_blank"><img alt="" src="assets/images/icons/thum7.png"> <span data-toggle="tooltip" title="Coming Soon!"> Caps.lk </span> </a></li>


            <li><a href="#"><img alt="" src="assets/images/icons/thum6.png"> <span data-toggle="tooltip" title="Coming Soon!"> Ties.lk </span><!--<i class="zmdi zmdi-chevron-right"></i>--></a>
            </li>



            <li><a routerLink="#" ><img alt="" src="assets/images/icons/thum2.png"> <span data-toggle="tooltip" title="Coming Soon!"> Limited Premium </span> <!--<i class="zmdi zmdi-chevron-right"></i>--></a>


            </li>

            <!--/lesova/designerWear-->
            <li><a routerLink="#"><img alt="" src="assets/images/icons/thum8.png">  <span data-toggle="tooltip" title="Coming Soon!"> Designer ware</span> </a></li>
            <li><a href="#"><img alt="" src="assets/images/icons/thum9.png"> <span data-toggle="tooltip" title="Coming Soon!"> For Designers </span> </a></li>
            <!--/lesova/tshirts.lk-->

            <li><a href="#"><img alt="" src="assets/images/icons/thum2.png"> <span data-toggle="tooltip" title="Coming Soon!"> Budgetees </span></a></li>
            <li><a href="#"><img alt="" src="assets/images/icons/thum10.png"> <span data-toggle="tooltip" title="Coming Soon!"> Customized Gifts </span> </a></li>
            <li><a href="#"><img alt="" src="assets/images/icons/thum3.png"> <span data-toggle="tooltip" title="Coming Soon!"> Find More </span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Left Feature -->
  </div>
</div>
